## IDE files and dirs

# VS-Code
.vscode/

# Jet Brains
.idea/
*iml

## Python files and dirs

# Cache
__pycache__/

# Virtual env
.venv/
venv/

## App runtime files

# Database of SQLite
*.sqlite
*.sqlite3
*.db
*.db3

